@use "bootstrap/scss/bootstrap";

.image-button {
  border: none;
  background-color: #fff;
  padding: 5px;
  cursor: pointer;

  img {
    width: 32px;
    height: 32px;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
